.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}

.container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container h1{
    font-style: italic;
    font-weight: 300;
    font-size: 70px;
}
.container h2{
    font-size: 40px;
}
.point{
    display: flex;
    flex-direction: column;
}

.point span{
    width: 50%;
    height: 50%;
    background-color: rgba(78, 96, 127, 0.987);
    display: grid;
    place-content: center;
    font-size: 70px;
    font-weight: bold;
    border-radius: 8px;

}

.btn{
    width: 50%;
    padding: 25px;
    border-radius: 8px;
    background-color: blueviolet;
    color: aliceblue;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}